# Author: Ionutz Borcoman <borco@go.ro>

include *.in
global-include README COPYING INSTALL AUTHORS NEWS PKG-INFO

# examples
recursive-include examples README *.py *.glade *.ui
include examples/converter/about examples/converter/currencies
include examples/mini-yoman/yoman examples/mini-yoman/LICENSE
include examples/adapters

recursive-include docs Makefile

# user manual
recursive-include docs/manual *.rst *.py *.png *.dia

# quickstart
recursive-include docs/quickstart *.rst *.py *.png *.dia

# api
recursive-include docs/api *.rst *.py *.png *.dia

# tutorial
recursive-include docs/tutorial *.rst *.py *.png *.dia

# builder
include gtkmvc3/progen/progen.ui

prune dist
prune docs/manual/_build
prune docs/quickstart/_build
prune docs/tutorial/_build
prune docs/api/_build
